.reveal
  .slides
    section
      section(data-background="#331133")
        H1 Bring your Big Data to life
        P 	using JavaScript and a browser using D3.js
        aside(class="notes") These are presenter notes.
        pre 
          code(class="hljs" data-trim ) 
            |function linkify( selector ) {             
            |  if (supports3DTransforms) {
            |   var noda=aaa;
            |  }
            |}
            
      section
        H1 Dan Shultz
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/dan.png", style="border:none")
        aside These are presenter notes
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/Hopkins.png", style="border:none")
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/CompuServe.png", style="border:none")
      section
        H1 Doug Mair
        image(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/DougMair-300x300.png")
        p Email: doug.mair@gmail.com
        p Twitter: doug_mair

    section
      section
       H1 Data Science
       H3 Visualization Charts
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/ChartSuggestions.png")
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/Relationship.png")
        p 
          a(href="https://bl.ocks.org/cmgiven/abca90f6ba5f0a14c54d1eb952f8949c" target="_blank") Scatterplot ex
         a(href="http://www.verisi.com/resources/d3-tutorial-basic-charts.htm#s3" target="_blank") Bubble ex?  
          
        aside(class="notes") Presenter Notes
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/ComparisonOverTime.png")
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/Distribution.png")
      section
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/CompositionStatic.png")
          
    section
      section
        H1 Big Data
        H3 Map Reduce
      section
        pre 
        | MAP – Group, Sort and Filter.
        | Take all of the stock trades and split them out by company, date or time
        | Can be massively parallelized.

        | Reduce – Functions on each groups.
        | Examples are Counts, Sums and Averages.
      
    section
      section
        h1 HTML/SVG
      section
        h3 Sublevel
      
    section
      section
        H1 D3 Intro
      section(data-background="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/D3MainPage.JPG")
      
    section
      H1 D3 Selectors
     
    section
      H1 Renderlets 
      H3 Life Cycle
      
    section
      H1 Cross Filter 
      H3 Brushing
      
    section
      H1 Debugging
      H3 Troubleshooting
      H3 Dev Tools Tricks
      
    section
      H1 Transitions
      H3 Animations
      
    section
      H1 Unit testing

    section
      H1 DC.js
      H3 Fluent APIs
      
    section
      H1 D3.js Other Uses
      
    section
      H1 Main Demo
      H3 Meterorite Data
         script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-478/notes.js")
         